body{ background:#12110f;}
.bodyError{ background:url('../img/desert.jpg') no-repeat; height:607px; width:994px; margin:auto;}
h1{ font-size:2em; color:#ffefff; }
h2{ font-size:1.7em; color:#ffefff; }
